<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584643575497-r6omvag5joceq6cnpqfgo7626gh1lb5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584643575497-r6omvag5joceq6cnpqfgo7626gh1lb5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDCaMIl7ThuLWtNRAUqmIwXL3UpX6n1kCU</string>
	<key>GCM_SENDER_ID</key>
	<string>584643575497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MSE.swiftui-frameuser</string>
	<key>PROJECT_ID</key>
	<string>successful-user-info</string>
	<key>STORAGE_BUCKET</key>
	<string>successful-user-info.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584643575497:ios:53e3fbe7ebf84c73d75718</string>
</dict>
</plist>